.btn-group{
    display: flex;

}
.container{
    margin-top: 2%;
}

.body {
    
   // border: 1px solid;
    .auth-wrapper{
        padding: 5%;
    }

    .auth-content {
        width: 60%;
    }

    section .main-label {
        padding: 2px 0;
        font-size: 15px;
        visibility: hidden;
    }
   
}

.body_transporter{
    
}

