

<div class="container">
  <div class="btn-group" role="group" aria-label="User type">
    <input
      type="radio"
      class="btn-check"
      name="userType"
      id="btnSender"
      autocomplete="off"
      (click)="selectUserType('sender')"
      [checked]="userType() === 'sender'"
    />
    <label class="btn btn-outline-secondary" for="btnSender">Sender</label>

    <input
      type="radio"
      class="btn-check"
      name="userType"
      id="btnTransporter"
      autocomplete="off"
      (click)="selectUserType('transporter')"
      [checked]="userType() === 'transporter'"
    />
    <label class="btn btn-outline-secondary" for="btnTransporter">Transporter</label>
  </div>

  <div class="body" *ngIf="userType() === 'sender'">
    <!-- Formulaire Sender -->
    <div class="auth-wrapper">
      <div class="auth-content">
        <div class="auth-bg">
          <span class="r"></span>
          <span class="r s"></span>
          <span class="r s"></span>
          <span class="r"></span>
        </div>
        <div class="card">
          <div class="card-body ">
            <div class="text-center">
            <div class="mb-6" >
              <i class="feather icon-unlock auth-icon"></i>
            </div>
            <h3 class="mb-4" >SignUp</h3>
          </div>
          <form [formGroup]="senderForm" (ngSubmit)="signup()">
            <div class="input-group mb-4 d-flex justify-content-between">
              <input type="text" class="form-control me-2" formControlName="firstName" placeholder="FirstName" />
              <input type="text" class="form-control ms-2" formControlName="lastName"  placeholder="LastName" />
            </div>
            <small *ngIf="senderForm.get('email')?.invalid && senderForm.get('email')?.touched" class="text-danger">
              The email address is not valid.
            </small>
            <div class="input-group mb-4">
              <input type="email" class="form-control"  formControlName="email" placeholder="Email" />
            </div>
           
            <div class="input-password-group mb-4">
              <app-password-input class=" me-2" placeholder="Create password" formControlName="password"></app-password-input>
              <app-password-input class=" me-2" placeholder="Confirm password" formControlName="confirmPassword"></app-password-input>

            </div>
            <div class="passwordError" *ngIf="senderForm.errors?.['mismatch'] && senderForm.get('confirmPassword')!.touched">
              <small class="text-danger">Passwords do not match</small>
            </div>

            
           <!--  <app-phone-number-input></app-phone-number-input> --> 
            
            <div class="form-group text-start mb-4">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="" />
                <label for="checkbox-fill-a1" class="cr">I accept conditions</label>
              </div>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-outline-primary"    [disabled]="senderForm.invalid">Join Us</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="body_transporter" *ngIf="userType() === 'transporter'">
    
      <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="transporterFormStepOne">
          <form [formGroup]="transporterFormStepOne">
            <ng-template matStepLabel>Contact information</ng-template>
            <div class="row">
            <div class="col-md-5">
            <label for="text">FirstName</label>
                <input type="text" formControlName="firstName" class="form-control" placeholder="Please enter your firstName" />
            </div>
            <div class="col-md-5">
              <label for="text">LastName</label>
                  <input type="text" formControlName="lastName" class="form-control" placeholder="Please enter your lastName" />
              </div>
            </div>
            <br/>

            <div class="row">
  
          
            <div class="col-md-5">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email"  formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
   
            <div class="col-md-5">
            <!--  <app-phone-number-input></app-phone-number-input> -->
            </div>
          </div>
  
            <div>
  
              <button mat-button matStepperNext type="submit">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="transporterFormStepTwo" label="Fill out your address">
          <form [formGroup]="transporterFormStepTwo">
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" formControlName="address" class="form-control" id="inputAddress" placeholder="1234 Main St" />
            </div>
  
            <div class="row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" formControlName="city" class="form-control" id="inputCity" />
            </div>
            
            <div class="form-group col-md-4">
             <app-country-select [selectedCountry]="transporterFormStepTwo.get('country')?.value" (countryChange)="onCountryChange($event)"></app-country-select> 
            </div>
  
            <div class="form-group col-md-2">
              <label for="inputZip">Zip Code</label>
              <input type="text" formControlName="zipCode"  form class="form-control" id="inputZip" />
            </div>
  
          </div>
       
  
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext type="submit">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="transporterFormStepThree" label="Fill out your address">
          <form [formGroup]="transporterFormStepThree">
          <ng-template matStepLabel>Compte Floki</ng-template>
          <div class="row">
          <div class="col-md-5">
          <div class="input-group">
            <span class="input-group-text" id="validationTooltipUsernamePrepend">&#64;</span>
            <input
            formControlName="username"
              type="text"
              class="form-control"
              id="validationTooltipUsername"
              placeholder="Username"
              aria-describedby="validationTooltipUsernamePrepend"
              required
            />
            <div class="invalid-feedback">Please choose a username.</div>
          </div>
          </div>
  
          <div class="col-md-5">
            <app-password-input class=" me-2" placeholder="Create password" formControlName="password"></app-password-input>
            <br>
            <app-password-input class=" me-2" placeholder="Confirm password" formControlName="confirmPassword"></app-password-input>
            <div class="passwordError" *ngIf="transporterFormStepThree.errors?.['mismatch'] && transporterFormStepThree.get('confirmPassword')!.touched">
              <small class="text-danger">Passwords do not match</small>
            </div>
          </div>
  
        </div>
        <br>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button type="submit" (click)="signup()">Rejoindre Floky</button>
          </div>
          </form>
        </mat-step>
      </mat-stepper>

  
  </div>
</div>
