.btn-group{
    display: flex;

}
.container{
    margin-top: 2%;
}

.body {
    
   // border: 1px solid;
    .auth-wrapper{
        padding: 5%;
    }

    .auth-content {
        width: 60%;
    }

   
}

.body_transporter{

    form{
   
    }

    mat-form-field{
        padding: 1%;
        
    }
}

