.selection-list {
  display: grid;
  grid-template-columns: repeat(3, 3fr); /* Deux colonnes de largeur égale */
  gap: 0px;
  }
  
  .selected-items {
    margin-top: 20px;
  }
  
  .body{
    display: flex;
    flex-direction: row;
    gap: 2%;
  }