<mat-stepper orientation="vertical" [linear]="true" #stepper>
    <!-- Step 1: Basic Information -->
    <mat-step [stepControl]="basicInfoFormGroup">
      <form [formGroup]="basicInfoFormGroup">
        <ng-template matStepLabel>Basic Information</ng-template>
        
        <!--
        <app-location-auto-complete-input
        formControlName="startLocation"
        placeholder="Start Location">
        </app-location-auto-complete-input>
        -->
        <div class="form-container-location-inputs">
        <mat-form-field class="flex-item-location-input" >
          <mat-label>Start Location</mat-label>
          <input type="text"
                 placeholder="Enter start location"
                 aria-label="start Location"
                 matInput
                 formControlName="startLocation"
                 [matAutocomplete]="startauto">
          <mat-autocomplete #startauto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsStartL | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      <!--  <mat-form-field>
          <mat-label>Start Location</mat-label>
          <input matInput appGooglePlace (addressChange)="onAddressChange($event)" formControlName="startLocation" placeholder="Enter start location" required>
        </mat-form-field> -->

        <mat-form-field class="flex-item-location-input" >
          <mat-label>End Location</mat-label>
          <input type="text"
                 placeholder="Enter end location"
                 aria-label="end Location"
                 matInput
                 formControlName="endLocation"
                 [matAutocomplete]="endauto">
          <mat-autocomplete #endauto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsEndL | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
        <!--
        <mat-form-field>
          <mat-label>End Location</mat-label>
          <input matInput formControlName="endLocation" placeholder="Enter end location" required>
        </mat-form-field>
        -->
        <div class="form-container-location-inputs">
        <mat-form-field class="flex-item-location-input">
          <mat-label>Departure date</mat-label>
          <input matInput [min]="today" [matDatepicker]="picker1" formControlName="startDate" >
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="flex-item-location-input">
          <mat-label>Arrival date</mat-label>
          <input matInput [min]="today"  [matDatepicker]="picker2" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <!-- Step 2: Vehicle Information -->
    <mat-step [stepControl]="vehicleInfoFormGroup">
      <form [formGroup]="vehicleInfoFormGroup">
        <ng-template matStepLabel>Vehicle Information</ng-template>
        <mat-form-field>
          <mat-label>Make</mat-label>
          <input type="text"
                 placeholder="Enter vehicle make"
                 aria-label="Enter vehicle make"
                 matInput
                 formControlName="make"
                 [matAutocomplete]="makeauto">
          <mat-autocomplete #makeauto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsMake | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!--
        <mat-form-field>
          <mat-label>Make</mat-label>
          <input matInput formControlName="make" placeholder="Enter vehicle make" required>
        </mat-form-field>
        -->
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input matInput formControlName="model" placeholder="Enter vehicle model" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Year</mat-label>
          <input matInput formControlName="year" type="number" placeholder="Enter vehicle year">
        </mat-form-field>

        <app-vehicle-type-list></app-vehicle-type-list>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <!-- Step 3: Additional Information -->
    <mat-step [stepControl]="additionalInfoFormGroup">
      <form [formGroup]="additionalInfoFormGroup">
        <ng-template matStepLabel>Additional Information</ng-template>
        <mat-form-field>
          <mat-label>Available Space</mat-label>
          <input matInput formControlName="availableSpace" type="number" placeholder="Enter available space" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Max Weight</mat-label>
          <input matInput formControlName="maxWeight" type="number" placeholder="Enter max weight" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Price per Parcel</mat-label>
          <input matInput formControlName="pricePerParcel" type="number" placeholder="Enter price per parcel" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone Numbers</mat-label>
          <input matInput formControlName="phoneNumber" placeholder="Enter phone numbers (comma separated)" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <!-- Step 4: Review & Submit -->
    <mat-step>
        <ng-template matStepLabel>Review & Submit</ng-template>
        <div class="lineInfo">  
          <div class="columnInfo">
            <h3>Basic Information</h3>
            <p><strong>Start Location:</strong> {{ basicInfoFormGroup.get('startLocation')!.value }}</p>
            <p><strong>End Location:</strong> {{ basicInfoFormGroup.get('endLocation')!.value }}</p>
            <p><strong>Departure Date:</strong> {{ basicInfoFormGroup.get('startDate')!.value  | date  }}</p>
            <p><strong>Arrival Date:</strong> {{ basicInfoFormGroup.get('endDate')!.value | date   }}</p>
          </div>
          
          <div class="divider"></div>
    
          <div class="columnInfo">
            <h3>Vehicle Information</h3>
            <p><strong>Make:</strong> {{ vehicleInfoFormGroup.get('make')!.value }}</p>
            <p><strong>Model:</strong> {{ vehicleInfoFormGroup.get('model')!.value }}</p>
            <p><strong>Year:</strong> {{ vehicleInfoFormGroup.get('year')!.value }}</p>
          </div>
          
          <div class="divider"></div>
    
          <div class="columnInfo">
            <h3>Additional Information</h3>
            <p><strong>Available Space:</strong> {{ additionalInfoFormGroup.get('availableSpace')!.value }} m³</p>
            <p><strong>Max Weight:</strong> {{ additionalInfoFormGroup.get('maxWeight')!.value }} kg</p>
            <p><strong>Price per Parcel:</strong> {{ additionalInfoFormGroup.get('pricePerParcel')!.value }} $</p>
            <p><strong>Phone Numbers:</strong> {{ additionalInfoFormGroup.get('phoneNumber')!.value }}</p>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="onSubmit()">Submit</button>
        </div>
      </mat-step>
  </mat-stepper>
  