<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <p>{{ body }}</p>
    <div *ngIf="needInput" class="mb-3">
      <label for="codeInput" class="form-label">Enter Code</label>
      <input type="text" id="codeInput" class="form-control" [(ngModel)]="inputCode" />
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">Close</button>
    <div *ngIf="needChoice">
    <button type="button" class="btn btn-primary" (click)="submitCode()">Submit</button>
   </div>
  </div>
  