.selection-item {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #fff;

  &.selected {
    background-color: #cce5ff; /* Couleur de fond lorsque l'élément est sélectionné */
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }
}
